body{ 
    height: 100vh;
    width: 100vw;
    background-image: url(./img/fundo\ \(1\).png);
    display: grid;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 420px;
    min-height: 500px; /* Definindo uma altura mínima */
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      #94c5fa 9%,
      #9596fa 68%,
      #8a63ee 97%
    );
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza horizontalmente e verticalmente */
  }
  
  .form-login {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px; /* Adicionado espaço abaixo do título */
  }
  
  .wrapper .input-box {
    width: 100%;
    margin: 10px 0; /* Reduzido o espaço entre as caixas de entrada */
  }
  
  .input-box input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: #fff;
  }
  
  .wrapper .remember-forgot {
    font-size: 14.5px;
    margin: 5px 0; /* Reduzido o espaço entre os elementos */
  }
  
  .remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
  }
  
  .remember-forgot a {
    color: #fff;
    text-decoration: none;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  .wrapper .btn {
    width: 150px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px; /* Movido o link de registro para cima */
  }
  
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover {
    text-decoration: underline;
  }